:root {
    --mainColor: #5e7cc9;
    --mainColorHelper: #17f8f19d;
    --secondColor: #5r001f;

}

body {
    background: var(--mainColor);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--mainColorHelper);
}

.profile-button {
    background: var(--mainColor);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background:var(--mainColorHelper);
}

.profile-button:focus {
    background: var(--mainColor);
    box-shadow: none
}

.profile-button:active {
    background: var(--mainColor);
    box-shadow: none
}

.back:hover {
    color: var(--mainColor);
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: var(--mainColor);
    color: #fff;
    cursor: pointer;
    border: solid 1px var(--mainColorHelper);
}