@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
body{
    background: #fff;
    font-family: 'Almarai', sans-serif;
}
.navbar{
    background-color: #5679c4;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .nav-link:hover{
    color:#fff;
}
.select2-container{
    width:100% !important;
}
.nav-tabs .nav-link{
    color:#fff;
}
.btn-warning{
    color:#fff !important;
}
.name-btn{
    font-size: 18px
}
.btn-primary {
    border-color: #3c95c99c;
    background: linear-gradient(90deg, rgb(90 183 196) 34%, rgba(94, 124, 201,1) 100%) !important;
    color: #fff;
    padding: 5px 15px;
    font-size: 14px;
}

.btn-primary:hover {
    border-color: #3c95c99c;
    background-color: #5679c4;
}

.option-btn {
    padding: 6px 8px;
    font-size: 12px;
}

.btnClose {
    position: absolute;
    bottom: 25px;
    left: 0px;
}
.card-body .btn.btn-warning{
    color: #fff;
    background: linear-gradient(90deg, rgb(90 183 196) 34%, rgba(94, 124, 201,1) 100%) !important;
    border: none;
    font-size: 12px;
}
.card-body .btn.btn-warning:focus{
    border:none;
}
.form-control:focus{
    border-color: #5679c4;
}
footer{
    background: linear-gradient(90deg, rgb(90 183 196) 34%, rgba(94, 124, 201,1) 100%) !important;
    border-radius: 4px;
    margin-bottom:30px;
}
footer .header{
    margin-bottom: 22px;
}